Repository swiffc/btmm-pine-script-system, changes with the labels that .github/labeler.yml gives for each.
All labels: component: EMA System, component: Asian Range, component: Pattern Detection, component: Entry System, component: Risk Management, component: HTF Bias, component: Stop Hunt, component: Dashboard, component: Alerts, component: Foundation, area: automation, area: devops, area: git, area: validation, area: backup, area: documentation, area: api-docs, area: configuration, area: security, area: dependencies, area: testing, area: release, type: feature, type: bugfix, type: refactor, type: docs, type: ci/cd, priority: critical, priority: high, priority: medium, impact: breaking, impact: major, impact: minor, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script, tech: javascript, tech: github-actions, tech: yaml, tech: json

feat: implement enterprise GitHub engineering strategy with comprehensive automation and governance
  .vscode/settings.json
  Corrected BTMM Multi-Timeframe Fram.md
Labels: area: documentation, type: docs, impact: minor, tech: json

fix: resolve GitHub configuration linter errors
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  configs/settings.json
Labels: area: devops, area: configuration, area: dependencies, priority: critical, impact: breaking, tech: yaml, tech: json

feat: Add File Location Management Secretary Rule - Strategic file navigation system
  .cursor/rules/file-location-management.md
Labels: none

feat: FINAL PUSH - Beautiful MMO Trading Strategy Web Application LIVE
  docs/trading-strategy-webapp/README.md
  docs/trading-strategy-webapp/index.html
  docs/trading-strategy-webapp/strategy-phases.html
Labels: area: documentation, type: docs, priority: medium, impact: minor

fix: Resolve ALL GitHub Actions workflow errors - FINAL FIX
  .github/workflows/ci.yml
  .github/workflows/security-scan.yml
Labels: area: devops, area: security, type: ci/cd, priority: critical, tech: github-actions, tech: yaml

BTMM Entry System updates and new trading webapp components
  .cursorrules
  docs/trading-strategy-webapp/agent-enhancement-plan.md
  docs/trading-strategy-webapp/package.json
Labels: area: documentation, type: docs, priority: medium, impact: minor, tech: json

Fix alert system encoding and cleanup backup files
  automation/devops/code-refactor-optimizer.js
  scripts/alerts/BTMM_Alert_System.pine
Labels: component: Alerts, area: automation, area: devops, type: feature, priority: medium, impact: major, tech: pine-script, tech: javascript

MAJOR OPTIMIZATION: Complete Pine Script validation tuning and performance enhancements
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_EMA_System.pine
  scripts/core/BTMM_Entry_System.pine
  scripts/core/BTMM_HTF_Bias.pine
  scripts/core/BTMM_Pattern_Detection.pine
  scripts/core/BTMM_Risk_Management.pine
  scripts/core/BTMM_Stop_Hunt_Detection.pine
  scripts/dashboard/BTMM_Master_Dashboard.pine
  scripts/foundation/BTMMFoundation.pine
Labels: component: EMA System, component: Asian Range, component: Pattern Detection, component: Entry System, component: Risk Management, component: HTF Bias, component: Stop Hunt, component: Dashboard, component: Foundation, type: feature, priority: critical, priority: high, priority: medium, impact: breaking, impact: major, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script

feat: BTMM System Update - 2025-07-06 14:54:13
  WORKSPACE_CLEANUP_REPORT.json
  archives/workspace-cleanup/.venv-summary-2025-07-06T19-53-58-516Z.json
  archives/workspace-cleanup/Corrected BTMM Multi-Timeframe Fram.md-2025-07-06T19-53-58-816Z
  archives/workspace-cleanup/TradePineFramework-summary-2025-07-06T19-53-58-126Z.json
  archives/workspace-cleanup/btmm-trading-system-backup-20250706-140730-summary-2025-07-06T19-53-57-767Z.json
  archives/workspace-cleanup/docs-summary-2025-07-06T19-53-58-812Z.json
  archives/workspace-cleanup/~-summary-2025-07-06T19-53-58-807Z.json
  automation/install-git-hooks.js
  automation/manage-hooks.js
  automation/pre-commit-optimization.js
  automation/workspace-cleaner.js
  package.json
Labels: area: automation, area: configuration, area: dependencies, area: release, impact: major, tech: javascript, tech: json

feat: BTMM System Update - 2025-07-06 15:11:49
  .github/workflows/auto-update.yml
  .github/workflows/quality-gates.yml
  QUALITY_PERFECTION_REPORT.json
  automation/badge-updater.js
  automation/performance-benchmark.js
  automation/quality-perfection.js
  automation/quality-score-validator.js
  package.json
Labels: area: automation, area: devops, area: configuration, area: dependencies, area: release, type: ci/cd, priority: critical, impact: major, tech: javascript, tech: github-actions, tech: yaml, tech: json

feat: BTMM System Update - 2025-07-06 15:19:57
  .github/workflows/advanced-analytics.yml
  .github/workflows/ai-code-review.yml
  .github/workflows/real-time-monitoring.yml
  .github/workflows/smart-release-management.yml
Labels: area: devops, type: ci/cd, priority: critical, tech: github-actions, tech: yaml

ASIAN SESSION CORRECTED: 5PM-Midnight EST + 24h Pivot Reference
  README.md
  platform/server/storage.ts
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_EMA_System.pine
  scripts/core/BTMM_SecondLeg_Analysis.pine
  scripts/core/BTMM_Session_Analysis.pine
  scripts/dashboard/BTMM_Master_Dashboard.pine
  scripts/dashboard/BTMM_Master_Dashboard_SecondLeg.pine
  scripts/dashboard/BTMM_Signal_Dashboard.pine
  scripts/mt4/include/BTMM_Foundation.mqh
  setup.js
Labels: component: EMA System, component: Asian Range, component: Dashboard, area: documentation, type: feature, type: docs, priority: high, priority: medium, impact: major, impact: minor, methodology: steve-mauro, methodology: session-analysis, tech: pine-script, tech: javascript

USER'S SIMPLIFIED ENTRY TRIGGER SYSTEM IMPLEMENTED
  scripts/core/BTMM_MW_Patterns.pine
Labels: type: feature, priority: high, impact: major, methodology: steve-mauro, tech: pine-script

CANDLESTICK PATTERN INTEGRATION COMPLETE
  scripts/core/BTMM_MW_Patterns.pine
Labels: type: feature, priority: high, impact: major, methodology: steve-mauro, tech: pine-script

feat: Add comprehensive BTMM trading plan HTML documentation
  README.md
  docs/BTMM_Complete_Trading_Plan.html
Labels: area: documentation, type: docs, priority: medium, impact: minor

Fix TypeScript configuration and create comprehensive automated setup system
  .env.example
  .vscode/settings.json
  automated-setup.js
  package.json
  platform/client/src/types/index.ts
  platform/client/tailwind.config.js
  platform/client/vite.config.ts
  platform/server/src/index.ts
  platform/shared/types/index.ts
  tsconfig.json
Labels: area: configuration, area: dependencies, area: release, tech: javascript, tech: json

Complete TypeScript error resolution and automated tooling enhancement
  package-lock.json
  package.json
  platform/client/src/components/ui/dialog.tsx
  platform/client/src/pages/development-template.tsx
  typescript-fixer.js
Labels: area: configuration, area: dependencies, area: release, tech: javascript, tech: json

COMPLETE: File visibility restored and automation system finalized
  .vscode/settings.json
  docs/legacy/guides/trading-strategy-webapp/package-lock.json
  docs/legacy/guides/trading-strategy-webapp/package.json
  docs/trading-strategy-webapp/package-lock.json
  docs/trading-strategy-webapp/package.json
  make-files-visible.bat
  package-lock.json
  package.json
Labels: area: documentation, area: configuration, area: dependencies, area: release, type: docs, priority: medium, impact: minor, tech: json

MAJOR: Script Consolidation - 9310 Scripts (TradingView Ready)
  SCRIPT_CONSOLIDATION_PLAN.md
  archives/consolidated-2025-01-07/BTMM_Custom_Candles.pine
  archives/consolidated-2025-01-07/BTMM_MW_Patterns.pine
  archives/consolidated-2025-01-07/BTMM_Market_Maker_Phases.pine
  archives/consolidated-2025-01-07/BTMM_Master_Controller.pine
  archives/consolidated-2025-01-07/BTMM_Master_Dashboard_SecondLeg.pine
  archives/consolidated-2025-01-07/BTMM_OTE_Zones.pine
  archives/consolidated-2025-01-07/BTMM_SecondLeg_Analysis.pine
  archives/consolidated-2025-01-07/BTMM_Session_Analysis.pine
  archives/consolidated-2025-01-07/BTMM_Signal_Dashboard.pine
  archives/consolidated-2025-01-07/BTMM_TDI_Divergence.pine
  automation/backups/BTMM_Asian_Range.pine.pre-merge-2025-07-07T17-41-31-471Z
  automation/backups/BTMM_EMA_System.pine.pre-merge-2025-07-07T17-41-28-570Z
  automation/backups/BTMM_HTF_Bias.pine.pre-merge-2025-07-07T17-41-37-808Z
  automation/backups/BTMM_Master_Dashboard.pine.pre-merge-2025-07-07T17-35-37-603Z
  automation/backups/BTMM_Master_Dashboard.pine.pre-merge-2025-07-07T17-36-01-106Z
  automation/backups/BTMM_Master_Dashboard.pine.pre-merge-2025-07-07T17-41-03-799Z
  automation/backups/BTMM_Pattern_Detection.pine.pre-merge-2025-07-07T17-41-09-438Z
  automation/backups/BTMM_Pattern_Detection.pine.pre-merge-2025-07-07T17-41-16-587Z
  automation/backups/BTMM_Pattern_Detection.pine.pre-merge-2025-07-07T17-41-21-326Z
  automation/backups/BTMM_Stop_Hunt_Detection.pine.pre-merge-2025-07-07T17-41-39-207Z
  automation/management/es-smart-merger.mjs
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_EMA_System.pine
  scripts/core/BTMM_Stop_Hunt_Detection.pine
  scripts/dashboard/BTMM_Master_Dashboard.pine
Labels: component: EMA System, component: Asian Range, component: Stop Hunt, component: Dashboard, area: automation, area: documentation, type: feature, type: docs, priority: high, priority: medium, impact: major, impact: minor, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script

FIX: Pine Script Import Syntax Errors
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_Entry_System.pine
  scripts/core/BTMM_HTF_Bias.pine
  scripts/core/BTMM_Pattern_Detection.pine
  scripts/core/BTMM_Risk_Management.pine
  scripts/core/BTMM_Stop_Hunt_Detection.pine
Labels: component: Asian Range, component: Pattern Detection, component: Entry System, component: Risk Management, component: HTF Bias, component: Stop Hunt, type: feature, priority: high, impact: major, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script

FIX: Pine Script Line Continuation Syntax Errors
  exports/tradingview-ready/BTMM_Dashboard_TradingView_Test.pine
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_HTF_Bias.pine
Labels: component: Asian Range, component: HTF Bias, area: release, type: feature, priority: high, impact: major, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script

FIX: Final Pine Script Line Continuation Issues
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_HTF_Bias.pine
Labels: component: Asian Range, component: HTF Bias, type: feature, priority: high, impact: major, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script

Fix Pine Script v5 line continuation syntax errors
  exports/tradingview-ready/BTMM_Dashboard_TradingView_Test.pine
  scripts/core/BTMM_Asian_Range.pine
Labels: component: Asian Range, area: release, type: feature, priority: high, impact: major, methodology: steve-mauro, methodology: session-analysis, tech: pine-script

fix: resolve duplicate variable definitions in multiple scripts
  scripts/core/BTMM_EMA_System.pine
  scripts/core/BTMM_Pattern_Detection.pine
Labels: component: EMA System, component: Pattern Detection, type: feature, priority: high, impact: major, methodology: steve-mauro, tech: pine-script

fix: resolve all variable conflicts across BTMM scripts
  scripts/alerts/BTMM_Alert_System.pine
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_Entry_System.pine
  scripts/core/BTMM_Risk_Management.pine
  scripts/core/BTMM_Stop_Hunt_Detection.pine
Labels: component: Asian Range, component: Entry System, component: Risk Management, component: Stop Hunt, component: Alerts, type: feature, priority: high, priority: medium, impact: major, methodology: steve-mauro, methodology: institutional, methodology: session-analysis, tech: pine-script

Fix script naming issues: Rename BTMM_EMA_System to BTMM_Risk_Management_Legacy
  scripts/alerts/BTMM_Alert_System.pine
  scripts/core/BTMM_Asian_Range.pine
  scripts/core/BTMM_Risk_Management_Legacy.pine
Labels: component: Asian Range, component: Alerts, type: feature, priority: high, priority: medium, impact: major, methodology: steve-mauro, methodology: session-analysis, tech: pine-script

Merge risk management scripts into comprehensive system
  scripts/core/BTMM_Risk_Management.pine
  scripts/core/BTMM_Risk_Management_Legacy.pine
Labels: component: Risk Management, type: feature, priority: high, impact: major, tech: pine-script

.github/labeler.yml:

# 🏷️ Automatic Label Assignment
# This file configures automatic labeling based on file changes

# 📊 Pine Script Components
'component: EMA System':
  - 'scripts/core/BTMM_EMA_System.pine'
  - 'scripts/**/EMA*'

'component: Asian Range':
  - 'scripts/core/BTMM_Asian_Range.pine'
  - 'scripts/**/Asian*'

'component: Pattern Detection':
  - 'scripts/core/BTMM_Pattern_Detection.pine'
  - 'scripts/**/Pattern*'

'component: Entry System':
  - 'scripts/core/BTMM_Entry_System.pine'
  - 'scripts/**/Entry*'

'component: Risk Management':
  - 'scripts/core/BTMM_Risk_Management.pine'
  - 'scripts/**/Risk*'

'component: HTF Bias':
  - 'scripts/core/BTMM_HTF_Bias.pine'
  - 'scripts/**/HTF*'

'component: Stop Hunt':
  - 'scripts/core/BTMM_Stop_Hunt_Detection.pine'
  - 'scripts/**/Stop*Hunt*'

'component: Dashboard':
  - 'scripts/dashboard/BTMM_Master_Dashboard.pine'
  - 'scripts/**/Dashboard*'

'component: Alerts':
  - 'scripts/alerts/BTMM_Alert_System.pine'
  - 'scripts/**/Alert*'

'component: Foundation':
  - 'scripts/foundation/BTMMFoundation.pine'
  - 'scripts/**/Foundation*'

# 🔧 Infrastructure & Automation
'area: automation':
  - 'automation/**/*'
  - 'scripts/automation/**/*'

'area: devops':
  - '.github/**/*'
  - 'automation/devops/**/*'
  - 'automation/deployment/**/*'

'area: git':
  - 'automation/git/**/*'
  - '.gitignore'
  - '.git*'

'area: validation':
  - 'automation/validation/**/*'
  - 'tests/**/*'

'area: backup':
  - 'automation/backup/**/*'
  - 'backups/**/*'

# 📚 Documentation
'area: documentation':
  - 'docs/**/*'
  - '*.md'
  - 'README*'
  - 'CHANGELOG*'

'area: api-docs':
  - 'docs/api-reference/**/*'

# ⚙️ Configuration
'area: configuration':
  - 'configs/**/*'
  - 'package.json'
  - 'package-lock.json'
  - '.*.json'
  - '.*.yml'

# 🔒 Security & Compliance
'area: security':
  - '.github/SECURITY.md'
  - '.github/workflows/security*.yml'
  - 'automation/**/security*'

'area: dependencies':
  - 'package.json'
  - 'package-lock.json'
  - '.github/dependabot.yml'

# 🧪 Testing
'area: testing':
  - 'tests/**/*'
  - '**/*.test.*'
  - '**/*.spec.*'

# 📦 Releases & Exports
'area: release':
  - 'exports/**/*'
  - 'CHANGELOG*'
  - 'package.json' # for version changes

# 🎯 Change Types (Based on File Patterns)
'type: feature':
  - 'scripts/core/**/*'
  - 'scripts/dashboard/**/*'
  - 'scripts/alerts/**/*'

'type: bugfix':
  - any: ['**/fix*', '**/bug*', '**/patch*']

'type: refactor':
  - any: ['**/refactor*', '**/optimize*', '**/improve*']

'type: docs':
  - '*.md'
  - 'docs/**/*'

'type: ci/cd':
  - '.github/workflows/**/*'
  - 'automation/deployment/**/*'

# 🚨 Priority Labels (Based on Critical Components)
'priority: critical':
  - 'scripts/foundation/BTMMFoundation.pine'
  - 'configs/settings.json'
  - '.github/workflows/**/*'

'priority: high':
  - 'scripts/core/**/*'
  - 'automation/git/**/*'
  - 'automation/validation/**/*'

'priority: medium':
  - 'scripts/dashboard/**/*'
  - 'scripts/alerts/**/*'
  - 'docs/**/*'

# 🔄 Impact Assessment
'impact: breaking':
  - 'scripts/foundation/BTMMFoundation.pine'
  - 'configs/**/*'

'impact: major':
  - 'scripts/core/**/*'
  - 'automation/**/*'

'impact: minor':
  - 'docs/**/*'
  - 'README*'
  - '*.md'

# 🎯 BTMM Methodology Tags
'methodology: steve-mauro':
  - 'scripts/**/*EMA*'
  - 'scripts/**/*Asian*'
  - 'scripts/**/*Pattern*'

'methodology: institutional':
  - 'scripts/**/*HTF*'
  - 'scripts/**/*Stop*Hunt*'
  - 'scripts/**/*Liquidity*'

'methodology: session-analysis':
  - 'scripts/**/*Asian*'
  - 'scripts/**/*Session*'
  - 'scripts/**/*Time*'

# 🔧 Technical Labels
'tech: pine-script':
  - '**/*.pine'

'tech: javascript':
  - '**/*.js'

'tech: github-actions':
  - '.github/workflows/**/*'

'tech: yaml':
  - '**/*.yml'
  - '**/*.yaml'

'tech: json':
  - '**/*.json'

# 📊 Size Indicators
'size: XS':
  - changed-files: '1-2'

'size: S':
  - changed-files: '3-5'

'size: M':
  - changed-files: '6-10'

'size: L':
  - changed-files: '11-20'

'size: XL':
  - changed-files: '21+'
